<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >


<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.nbs.account.model.vo.Account" alias="account" />
	   	<typeAlias type="com.kh.nbs.account.model.vo.AccountCalendar" alias="accountCalendar" />
		<typeAlias type="com.kh.nbs.board.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.nbs.board.model.vo.Like" alias="like" />
		<typeAlias type="com.kh.nbs.common.model.vo.Attachment" alias="attachment" />
		<typeAlias type="com.kh.nbs.common.model.vo.Mark" alias="mark" />
		<typeAlias type="com.kh.nbs.common.model.vo.Comment" alias="comment" />
		<typeAlias type="com.kh.nbs.common.model.vo.Recomment" alias="recomment" />
		<typeAlias type="com.kh.nbs.diary.model.vo.Diary" alias="diary" />
    	<typeAlias type="com.kh.nbs.diary.model.vo.DiaryCalendar" alias="diaryCalendar" />
		<typeAlias type="com.kh.nbs.farm.model.vo.Farm" alias="farm" />
		<typeAlias type="com.kh.nbs.infoBoard.model.vo.Info" alias="info" />
		<typeAlias type="com.kh.nbs.market.model.vo.Market" alias="market" />
		<typeAlias type="com.kh.nbs.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.nbs.member.model.vo.Cert" alias="cert" />
		<typeAlias type="com.kh.nbs.program.model.vo.Program" alias="program" />
		<typeAlias type="com.kh.nbs.review.model.vo.Review" alias="review" />
		<typeAlias type="com.kh.nbs.search.model.vo.Search" alias="search" />
	</typeAliases>
	<!-- ***주의: 미리 등록을 해두려면 해당 클래스가 존재하고 있는 상태여야 함  -->
	
	<mappers>
		<mapper resource="/mappers/account-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
		<mapper resource="/mappers/attachment-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/diary-mapper.xml" />
		<mapper resource="/mappers/farm-mapper.xml" />
		<mapper resource="/mappers/info-mapper.xml" />
		<mapper resource="/mappers/market-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/program-mapper.xml" />
		<mapper resource="/mappers/review-mapper.xml" />
		<mapper resource="/mappers/search-mapper.xml" />
	</mappers>
	<!-- ***주의: 미리 등록을 해두려면 해당 mapper 파일이 존재하고, namespace속성까지 작성되어 있는 상태여야 함 -->
	
</configuration>
