<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attachmentMapper">
	
	<insert id="insertAttachmentFarm" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_ANO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{boardType}
		  	   ,SEQ_FNO.CURRVAL
		  		)
	</insert>
	
	<insert id="insertAttachmentMarket" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_ANO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,'mk'
		  	   ,SEQ_MKNO.CURRVAL
		  		)
	</insert>
	
	<insert id="insertAttachmentBoard" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_ANO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{boardType}
		  	   ,seq_bno.currval
		  		)
	</insert>
	
	<insert id="insertAttachmentInfo" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
				file_level,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_ANO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{fileLevel}
		  	   ,#{boardType}
		  	   ,SEQ_INO.CURRVAL
		  		)
	</insert>
	


</mapper>
