<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attachmentMapper">

	<resultMap id="attachmentResultSet" type="attachment">
		<result column="file_no"      property="fileNo" />
		<result column="origin_name"   property="originName" />
		<result column="change_name"  property="changeName" />
		<result column="file_path"  property="filePath" />
		<result column="file_level"  property="fileLevel" />
		<result column="upload_date"   property="uploadDate" />
		<result column="board_no"   property="boardNo" />
		<result column="board_type"   property="boardType" />
	</resultMap>
	
	<insert id="insertAttachmentFarm" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_ANO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{boardType}
		  	   ,SEQ_FNO.CURRVAL
		  		)
		  		
	</insert>
	
	<insert id="insertAttachmentMarket" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_MKNO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{boardType}
		  	   ,#{boardNo}
		  		)
		  		
	</insert>
	
	<insert id="insertAttachmentBoard" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		VALUES
		  		(
		  		SEQ_MKNO.NEXTVAL
		  	   ,#{originName}
		  	   ,#{changeName}
		  	   ,#{boardType}
		  	   ,#{boardNo}
		  		)
		  		
	</insert>
	
	<!--테스트x-->
	<select id="selectAttachmentDetailBoard" parameterType="board" resultMap="attachmentResultSet">
		SELECT
			   FILE_NO
			   ,ORIGIN_NAME
		       ,CHANGE_NAME
			   ,FILE_PATH
			   ,UPLOAD_DATE
			   ,BOARD_NO
			   ,BOARD_TYPE
		  FROM
			   ATTACHMENT
		 WHERE 
		   	   BOARD_NO=#{boardNo} 
		   AND 
		       BOARD_TYPE=#{boardType}
	</select>
</mapper>
