<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="board">
		<result column="board_no"      property="boardNo" />
		<result column="board_type"   property="boardType" />
		<result column="board_title"  property="boardTitle" />
		<result column="board_content"  property="boardContent" />
		<result column="create_date"   property="createDate" />
		<result column="modify_date"   property="modifyDate" />
		<result column="thumbnail"   property="thumbnail" />
		<result column="recruit_yn"   property="recruitYN" />
		<result column="count"         property="count" />
		<result column="status"   property="status" />
		<result column="mem_no" property="memNo" />
		<result column="board_writer" property="boardWriter" />
		<result column="board_like" property="boardLike" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from
		       board
		 where
		 	   board_type=#{boardType}
		   and
		       status = 'Y'
	</select>

	<!--테스트x-->
	<select id="selectList" resultMap="boardResultSet">
		select 
               board_no
               ,board_title
               ,to_char(create_date, 'YYYY-MM-DD') as "CREATE_DATE"
               ,count
               ,board_writer
               ,(select count(*) from board b join "LIKE" l on b.board_no=l.board_no and b.board_type=l.board_type) as board_like
		  from
		       board b
         where
           	   board_type=#{boardType}
         order
            by
               board_no desc
	</select>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select
		       board_no
		      ,board_title
		      ,board_content
		      ,to_char(create_date, 'YYYY-MM-DD') as "create_date"
		      ,count
		      ,board_type
		      ,board_writer
		      ,board_like
		  from
		       board
		 where
		       status = 'Y'
		   and
		       board_no = #{boardNo}
	</select>
	
	<update id="increaseCount">
		update
		       board
		   set
		       count = count + 1
		 where
		       board_no = #{boardNo}
		   and
		       status='Y'	
	</update>
	
	<insert id="insertBoard" parameterType="board">
		insert
		  into
		       board 
		       (
				 BOARD_NO
				,BOARD_TYPE
				,BOARD_TITLE
				,BOARD_CONTENT
				,CREATE_DATE
				,MODIFY_DATE
				,THUMBNAIL
				,RECRUIT_YN
				,COUNT
				,STATUS
				,MEM_NO
				,BOARD_WRITER
				,BOARD_LIKE
		       )
		values
		       (
		       seq_bno.nextval
		      ,#{boardType}
		      ,#{boardTitle}
		      ,#{boardContent}
		      ,sysdate
		      ,#{modifyDate}
		      ,#{thumbnail}
		      ,#{recruitYN}
		      ,0
		      ,'Y'
		      ,#{memNo}
		      ,#{boardWriter}
		      ,0
		       )
	</insert>




</mapper>
