<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diaryMapper">
	<resultMap type="diaryResultSet" id="diary">
		<result column="diary_no" property="diaryNo"></result>
		<result column="start_date" property="startDate"></result>
		<result column="end_date" property="endDate"></result>
		<result column="create_date" property="createDate"></result>
		<result column="diary_category" property="diaryCategory"></result>
		<result column="diary_content" property="diaryContent"></result>
		<result column="status" property="status"></result>
		<result column="mem_no" property="memNo"></result>
		<result column="diary_thumbnail" property="diaryThumbnail"></result>
		
	</resultMap>
	


	<select id="selectCategoryList" parameterType="_int" resultType="ArrayList">	
	select 
			diary_category
	from
			diary
	where
			memNo = #{memNo}
	</select>


</mapper>
