<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diaryMapper">
	<resultMap type="diary" id="diaryResultSet">
		<result column="diary_no" property="diaryNo"></result>
		<result column="create_date" property="createDate"></result>
		<result column="diary_category" property="diaryCategory"></result>
		<result column="diary_content" property="diaryContent"></result>
		<result column="status" property="status"></result>
		<result column="mem_no" property="memNo"></result>
		<result column="diary_thumbnail" property="diaryThumbnail"></result>		
	</resultMap>
	

	<select id="selectCategoryList" parameterType="_int" resultMap="diaryResultSet">	
	select 
			distinct diary_category
	from
			diary
	where
			mem_no = #{memNo}
	</select>

	<select id="selectDiaryList" parameterType="diary" resultMap="diaryResultSet">
	select
			*
	from
			diary
	where
			create_date between #{startDate} and #{endDate}
			
	<if test="diaryCategory !='noCategory'">
		and diary_category = #{diaryCategory}
	</if>
	</select>
	
	<select id="selectDiary" parameterType="_int" resultMap="diaryResultSet">
	select
			*
	from
			diary
	where
			diary_no = #{diaryNo}
	
	</select>

</mapper>
