<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="farmMapper">

	<resultMap id="farmResultSet" type="farm">
		<result column="FARM_NO" property="farmNo"/>
		<result column="FARMER" property="farmer"/>
		<result column="FARM_NAME" property="farmName"/>
		<result column="FARM_INTRO" property="farmIntro"/>
		<result column="LOCAL_CODE" property="localCode"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE" property="phone"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="CROP" property="crop"/>
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="attachment">
		<result column="file_no" property="fileNo"/>
	    <result column="origin_name" property="originName"/>
	    <result column="change_name" property="changeName"/>
	    <result column="upload_date" property="uploadDate"/>
	    <result column="board_no" property="boardNo"/>
	    <result column="board_type" property="boardType"/>
	    <result column="file_level" property="fileLevel"/>
	</resultMap>
	
	<resultMap id="programResultSet" type="program">
		<result column="PROGRAM_NO" property="programNo"/>
		<result column="FARM_NO" property="programNo"/>
		<result column="PROGRAM_NAME" property="programName"/>
		<result column="PROGRAM_PLAN" property="programPlan"/>
		<result column="PROGRAM_HOUR" property="programHour"/>
		<result column="PROGRAM_LECTURE" property="programLecture"/>
		<result column="HEADCOUNT" property="headcount"/>
		<result column="PROGRAM_DETAIL" property="programDetail"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="SIGN_UP" property="signUp"/>
		<result column="STATUS" property="status"/>
		<result column="PROGRAM_LOCATION" property="programLocation"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="NOW_HEADCOUNT" property="nowHeadCount"/>
	</resultMap>
	
	<select id="selectFarmCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		FARM
		 WHERE
		 		STATUS = 'Y'
		 <if test="lco != 'all'">
		   AND
		   		local_code = #{localCode}
		 </if>
	</select>

	<select id="selectMyFarmList" resultMap="farmResultSet">
		SELECT 
		    	 FARM_NO
		    	,FARMER
		    	,FARM_NAME
		    	,LOCAL_CODE
		    	,ADDRESS
		    	,PHONE
		    	,CREATE_DATE
		    	,STATUS
		    	,CROP
		  FROM
		 		 FARM
		 WHERE 
		    	 FARMER = #{memNo}
		   AND
		  		 STATUS = 'Y'
	</select>
	
	<select id="selectFarmList" resultMap="farmResultSet">
		SELECT 
		    	 FARM_NO
		    	,FARMER
		    	,FARM_NAME
		    	,LOCAL_CODE
		    	,ADDRESS
		    	,PHONE
		    	,CREATE_DATE
		    	,STATUS
		    	,CROP
		  FROM
		 		 FARM
		 WHERE 
		  		 STATUS = 'Y'
		  <if test="lco != 'all'">
		   AND
		   		 LOCAL_CODE = #{localCode}
		 </if>
	</select>
	
	<select id="selectAttachmentList" resultMap="attachmentResultSet">
		SELECT *
		   FROM (
		        SELECT 
		            board_no,
		            file_no,
		            origin_name,
		            change_name,
		            upload_date,
		            board_type,
		            ROW_NUMBER() OVER (PARTITION BY board_no ORDER BY file_no) AS RN
		        FROM 
		            ATTACHMENT) a
		WHERE 
				a.RN = 1

	</select>
	
	<select id="selectProgramList" resultMap="programResultSet">
        SELECT 
            	 PROGRAM_NAME
            	,PROGRAM_PLAN
            	,FARM_NO
          FROM
          		 PROGRAM
	</select>
		
	<select id="selectFarm" resultMap="farmResultSet">
		SELECT 
		    	 FARM_NO
		        ,FARMER
		        ,FARM_NAME
		        ,FARM_INTRO
		        ,LOCAL_CODE
		        ,ADDRESS
		        ,PHONE
		        ,CREATE_DATE
		        ,STATUS
		        ,CROP
		  FROM
		 		 FARM
		 WHERE 
		    	 FARM_NO = #{farmNo}
		   AND
		  		 STATUS = 'Y'
	</select>
	
	<select id="selectAttachment" resultMap="attachmentResultSet">
		SELECT
				 FILE_NO
			    ,ORIGIN_NAME
			    ,CHANGE_NAME
			    ,UPLOAD_DATE
			    ,BOARD_NO
			    ,BOARD_TYPE
			    ,FILE_LEVEL
		 FROM
				 ATTACHMENT
		WHERE
				 BOARD_NO = #{farmNo}
		  AND
				 BOARD_TYPE = 'F'
		ORDER
		   BY
				 FILE_NO
	</select>
	
	<select id="selectProgram" resultMap="programResultSet">
		select
				program_no,
				farm_no,
				program_name,
				program_plan,
				program_hour,
				program_lecture,
				headcount,
				program_detail,
				sign_up,
				mem_no,
				status

			from
				program
			where
				status = 'Y'
			and
				farm_no = #{farmNo}
	</select>
	
	<insert id="insertFarm" parameterType="farm">
		INSERT
		  INTO
				 FARM
				 (
				 FARM_NO
			    ,FARMER
			    ,FARM_NAME
			    ,FARM_INTRO
			    ,LOCAL_CODE
			    ,ADDRESS
			    ,PHONE
			    ,CROP
				)
		VALUES
				(
				 SEQ_FNO.NEXTVAL
			    ,#{farmer}
			    ,#{farmName}
			    ,#{farmIntro}
			    ,#{localCode}
			    ,#{address}
			    ,#{phone}
			    ,#{crop}
				)
	</insert>
	
	<select id="selectFileNo" resultType="_int">
		SELECT
				FILE_NO
		  FROM
		  		ATTACHMENT
		 WHERE
		 		BOARD_NO = #{farmNo}
		   AND
		 		BOARD_TYPE = 'F'
			
	</select>
	
	<delete id="deleteAttachment">
		DELETE
		  FROM
		  		ATTACHMENT
		 WHERE
		 		FILE_NO IN
		<foreach collection="list" item="fileNo" open="(" separator="," close=")">
				 #{fileNo}		
		</foreach>
	</delete>
	
	<update id="insertAttachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		board_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		file_level
		  		)
		 		SELECT 
		 				 SEQ_ANO.NEXTVAL as fileNo
		 				,SEQ_FNO.CURRVAL as farmNo
		 				,A.*
				  FROM
					   (
						<foreach collection="list" item="attachment" separator="UNION ALL">
							SELECT
							  	     #{attachment.originName} as originName
							  	    ,#{attachment.changeName} as changeName
							  	    ,'F' as boardType
							  	    <choose>
							  	    <when test="#{attachment.fileLevel != null}">
							  	    ,#{attachment.fileLevel}
							  	    </when>
							  	    <otherwise>
							  	    ,2
							  	    </otherwise>
							  	    </choose>
							  FROM
							  		 SYS.DUAL
						</foreach>
					    ) A
	</update>
	
	<update id="updateInsertAttachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		file_no,
		  		origin_name,
		  		change_name,
		  		board_type,
		  		board_no
		  		)
		 		SELECT 
		 				SEQ_ANO.NEXTVAL as fileNo, A.*
				  FROM
					   (
						<foreach collection="list" item="attachment" separator="UNION ALL">
							SELECT
							  	     #{attachment.originName} as originName
							  	    ,#{attachment.changeName} as changeName
							  	    ,'F' as boardType
							  	    ,#{attachment.boardNo} as boardNo
							  FROM
							  		 SYS.DUAL
						</foreach>
					    ) A
	</update>
	
	<update id="updateFarm">
		UPDATE
		   		FARM
		   SET
		   		 FARM_NAME = #{farmName}
		   		,ADDRESS = #{address}
		   		,PHONE = #{phone}
		   		,FARM_INTRO = #{farmIntro}
		   		,CROP = #{crop}
		 WHERE
		 		FARM_NO = #{farmNo}
	</update>
	
	<update id="deleteFarm">
		UPDATE
				FARM
		   SET
		   		STATUS = 'N'
		 WHERE
		 		FARM_NO = #{farmNo}
	</update>
	
	<select id="selectSearchListCount" resultType="_int">
		SELECT
				COUNT(*)
	 	  FROM
	 	  		(
	 	  		SELECT
	 	  				 FARM_NAME
	 	  				,CROP
	 	  		  FROM
	 	  				 FARM
	 	 		 WHERE
	 	 				 STATUS = 'Y'
	 	 		<if test="localCode != 'all'">
	 	   		  AND
	 	   				 LOCAL_CODE = #{localCode}
	 	 		</if>
	 	 		)
	 	<if test="condition == 'all'">
	 	 WHERE
	 	 		FARM_NAME LIKE '%'||#{keyword}||'%'
	 	 	OR
	 	 		CROP LIKE '%'||#{keyword}||'%'
	 	</if> 
	 	<if test="condition == 'farmName'">
	 	WHERE
	 	   		FARM_NAME LIKE '%'||#{keyword}||'%'
	 	</if>
	 	<if test="condition == 'crop'">
	 	 WHERE
	 	   		CROP LIKE '%'||#{keyword}||'%'
	 	</if>	 	   		
	</select>
	
	<select id="selectSearchList" resultMap="farmResultSet">
		SELECT
				*
		  FROM
				(
				SELECT
						 FARM_NO
				    	,FARMER
				    	,FARM_NAME
				    	,LOCAL_CODE
				    	,ADDRESS
				    	,PHONE
				    	,CREATE_DATE
				    	,STATUS
				    	,CROP
			 	  FROM
			 	  		FARM
			 	 WHERE
			 	 		STATUS = 'Y'
			 	 <if test="localCode != 'all'">
			 	   AND
			 	   		LOCAL_CODE = #{localCode}
			 	 </if>
			 	)
	 	<if test="condition == 'all'">
	 	 WHERE
	 	 		FARM_NAME LIKE '%'||#{keyword}||'%'
	 	 	OR
	 	 		CROP LIKE '%'||#{keyword}||'%'
	 	 </if> 
	 	 <if test="condition == 'farmName'">
	 	 WHERE
	 	   		FARM_NAME LIKE '%'||#{keyword}||'%'
	 	 </if>
	 	 <if test="condition == 'crop'">
	 	 WHERE
	 	   		CROP LIKE '%'||#{keyword}||'%'
	 	 </if>	
	</select>

</mapper>
