<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="farmMapper">

	<resultMap id="farmResultSet" type="farm">
		<result column="FARM_NO" property="farmNo"/>
		<result column="FARMER" property="farmer"/>
		<result column="FARM_NAME" property="farmName"/>
		<result column="FARM_INTRO" property="farmIntro"/>
		<result column="LOCAL_CODE" property="localCode"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
		<result column="CROP" property="crop"/>
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="attachment">
		<result column="file_no" property="fileNo"/>
	    <result column="origin_name" property="originName"/>
	    <result column="change_name" property="changeName"/>
	    <result column="upload_date" property="uploadDate"/>
	    <result column="board_no" property="boardNo"/>
	    <result column="board_type" property="boardType"/>
	</resultMap>
	
	<select id="selectFarmCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		FARM
		 WHERE
		 		STATUS = 'Y'
	</select>

	<select id="selectMyFarmList" resultMap="farmResultSet">
		SELECT 
		    	FARM_NO,
		    	FARMER,
		    	FARM_NAME,
		    	LOCAL_CODE,
		    	ADDRESS,
		    	PHONE,
		    	ENROLL_DATE,
		    	STATUS,
		    	CROP
		  FROM
		 		FARM
		 WHERE 
		    	FARMER = #{memNo}
		   AND
		  		STATUS = 'Y'
	</select>
	
	<select id="selectFarmList" resultMap="farmResultSet">
		SELECT 
		    	FARM_NO,
		    	FARMER,
		    	FARM_NAME,
		    	LOCAL_CODE,
		    	ADDRESS,
		    	PHONE,
		    	ENROLL_DATE,
		    	STATUS,
		    	CROP
		  FROM
		 		FARM
		 WHERE 
		  		STATUS = 'Y'
	</select>
	
	<select id="selectAttachmentList" resultMap="attachmentResultSet">
		SELECT *
		   FROM (
		        SELECT 
		            board_no,
		            file_no,
		            origin_name,
		            change_name,
		            upload_date,
		            board_type,
		            ROW_NUMBER() OVER (PARTITION BY board_no ORDER BY file_no) AS RN
		        FROM 
		            ATTACHMENT) a
		WHERE 
				a.RN = 1
	</select>
		
	<select id="selectFarm" resultMap="farmResultSet">
		SELECT 
		    	FARM_NO
		       ,FARMER
		       ,FARM_NAME
		       ,FARM_INTRO
		       ,LOCAL_CODE
		       ,ADDRESS
		       ,PHONE
		       ,ENROLL_DATE
		       ,STATUS
		       ,CROP
		  FROM
		 		FARM
		 WHERE 
		    	FARM_NO = #{farmNo}
		   AND
		  		STATUS = 'Y'
	</select>
	
	<select id="selectAttachment" resultMap="attachmentResultSet">
		SELECT
				FILE_NO
			   ,ORIGIN_NAME
			   ,CHANGE_NAME
			   ,UPLOAD_DATE
			   ,BOARD_NO
			   ,BOARD_TYPE
		 FROM
				ATTACHMENT
		WHERE
				BOARD_NO = #{farmNo}
		  AND
				BOARD_TYPE = 'F'
		ORDER
		   BY
				FILE_NO
	</select>
	
	<insert id="insertFarm" parameterType="farm">
		INSERT
		  INTO
				FARM
				(
				FARM_NO
			   ,FARMER
			   ,FARM_NAME
			   ,FARM_INTRO
			   ,ADDRESS
			   ,PHONE
			   ,CROP
				)
		VALUES
				(
				SEQ_FNO.NEXTVAL
			   ,#{farmer}
			   ,#{farmName}
			   ,#{farmIntro}
			   ,#{address}
			   ,#{phone}
			   ,#{crop}
				)
	</insert>

</mapper>
