<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="NAME" property="name"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="PHONE" property="phone"/>
		<result column="GENDER" property="gender"/>
		<result column="EMAIL" property="email"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MEM_STATUS" property="memStatus"/>
		<result column="FARMER_CODE" property="farmerCode"/>
		<result column="CAREER" property="career"/>
		<result column="MODIFY_DATE" property="modifyDate"/>		
	</resultMap>

	<!-- 로그인 -->
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT MEM_NO, MEM_ID, MEM_PWD, NAME, NICKNAME, PHONE, GENDER, EMAIL, ENROLL_DATE, MEM_STATUS, FARMER_CODE, CAREER
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		AND MEM_STATUS = 'Y'
	</select>

	<!-- 일반 사용자 회원가입 -->
	<insert id="userInsertMember" parameterType="member">
		INSERT INTO MEMBER(MEM_NO, MEM_ID, MEM_PWD, NAME, NICKNAME, PHONE, GENDER, EMAIL, ENROLL_DATE, MEM_STATUS)
		VALUES(SEQ_MNO.NEXTVAL, #{memId}, #{memPwd}, #{name}, #{nickName}, #{phone}, #{gender}, #{email}, SYSDATE, 'Y')
	</insert>
	
	<!-- 농부 회원가입 -->
	<insert id="farmerInsertMember" parameterType="member">
		INSERT INTO MEMBER(MEM_NO, MEM_ID, MEM_PWD, NAME, NICKNAME, PHONE, GENDER, EMAIL, ENROLL_DATE, MEM_STATUS, FARMER_CODE, CAREER)
		VALUES(SEQ_MNO.NEXTVAL, #{memId}, #{memPwd}, #{name}, #{nickName}, #{phone}, #{gender}, #{email}, SYSDATE, 'Y', #{farmerCode}, #{career})
	</insert>
	
	<!-- 일반 사용자 정보 수정 -->
	<update id="updateUser" parameterType="member">
		UPDATE MEMBER
		SET NAME = #{name}, EMAIL = #{email}, NICKNAME = #{nickName}, PHONE = #{phone}, MODIFY_DATE = SYSDATE
		WHERE MEM_ID = #{memId}
		AND MEM_STATUS = 'Y'
	</update>
	
	<!-- 농부 정보 수정 -->
	<update id="updateFarmer" parameterType="member">
		UPDATE MEMBER
		SET NAME = #{name}, EMAIL = #{email}, NICKNAME = #{nickName}, PHONE = #{phone}, MODIFY_DATE = SYSDATE, FARMER_CODE = #{farmerCode}, CAREER = #{career}
		WHERE MEM_ID = #{memId}
		AND MEM_STATUS = 'Y'
	</update>
	
	<!-- 일반 사용자 탈퇴 -->
	<update id="deleteUser" parameterType="String">
		UPDATE MEMBER
		SET MEM_STATUS = 'N'
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 농부 탈퇴 -->
	<update id="deleteFarmer" parameterType="String">
		UPDATE MEMBER
		SET MEM_STATUS = 'N'
		WHERE MEM_ID = #{memId}
	</update>
	
	
	
	<!-- 아이디 찾기 -->
	<!--<select id="findId" parameterType="member" resultType="memberResultSet">
		SELECT MEM_ID
		FROM MEMBER
		WHERE MEM_PWD = #{ memPwd }
		AND MEM_STATUS = 'Y'
	</select>	 -->
</mapper>
