<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="programMapper">

	<resultMap id="programResultSet" type="program">
		<result column="PROGRAM_NO" property="programNo"/>
		<result column="FARM_NO" property="programNo"/>
		<result column="PROGRAM_NAME" property="programName"/>
		<result column="PROGRAM_PLAN" property="programPlan"/>
		<result column="PROGRAM_HOUR" property="programHour"/>
		<result column="PROGRAM_LECTURE" property="programLecture"/>
		<result column="HEADCOUNT" property="headcount"/>
		<result column="PROGRAM_DETAIL" property="programDetail"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="SIGN_UP" property="signUp"/>
		<result column="STATUS" property="status"/>
		<result column="PROGRAM_LOCATION" property="programLocation"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		
	</resultMap>
	
	
	<insert id="registerProgram" parameterType="program">
	
		insert
				into
					program
					(
					PROGRAM_NO,
					FARM_NO,
					PROGRAM_NAME,
					PROGRAM_PLAN,
					PROGRAM_HOUR,
					PROGRAM_LECTURE,
					HEADCOUNT,
					PROGRAM_DETAIL,
					SIGN_UP,
					STATUS,
					PROGRAM_LOCATION,
					MEM_NO,
					ORIGIN_NAME,
					CHANGE_NAME
					
					
					 
					)
			values
					(
					seq_pno.nextval,
					#{farmNo},
					#{programName},
					#{programPlan},
					#{programHour},
					#{programLecture},
					#{headcount},
					#{programDetail},
					'진행',
					'Y',
					#{programLocation},
					1,
					#{originName},
					#{changeName}
					
					) 
	
	</insert>
	
	<select id="selectListCount" resultType="_int">
		select
				count(*)
	      from
	      		program
	      where
	      		status= 'Y'
	</select>
	
	
	<select id="selectList" resultMap="programResultSet">
	
		select 
				program_no,
				program_location,
				program_name,
				program_plan,
				headcount,
				sign_up
			from
				program
			where
				status = 'Y'
			order
				by
					program_no desc
					
	</select>
	
	
	
	<select id="selectProgram" parameterType="program" resultMap="programResultSet">
	 
		select
			program_no,
			farm_no,
			program_name,
			program_plan,
			program_hour,
			program_lecture,
			headcount,
			program_detail,
			sign_up,
			mem_no,
			status,
			program_location,
			origin_name,
			change_name
		from
			program
		where
			status = 'Y'
		and
			program_no = #{programNo}
			
	</select>
	
	<insert id="joinProgram" parameterType="program">
	
	insert 
		into
			my_program
			(
				mem_no,
				program_no
			)
			
			values
			
			(
				#{memNo},
				#{programNo}
				
			)
	
	</insert>
	
		<select id="selectProgramNo" parameterType="program" resultMap="programResultSet">
	 
		select
			program_no
		from
			my_program
		where
			mem_no = #{memNo}
			
	</select>
	
		<insert id="wishProgram" parameterType="program">
	
	insert 
		into
			mark
			(
				mem_no,
				status,
				board_type,
				board_no
			)
			
			values
			
			(
				1,
				1,
				'T',
				#{programNo}
				
			)
	
	</insert>
	
	
 
</mapper>
